body{
    background-color: rgb(196, 193, 189);
    font-family: 'Courier New', Courier, monospace
}
#main-div {
    align-items: center;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    max-height: fit-content;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px; 
}

#profile{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-left: 20px;
}
#header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 50px;
}