body{
    background-color: rgb(196, 193, 189);
    font-family: 'Courier New', Courier, monospace
}
#main-div {
    padding: 60px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    max-height: fit-content;
    margin: 40px auto;
    max-width: 1200px; 
}

#profile{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-left: 20px;
}
#profile-div{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 0;
}

#profile-div h1 {
    margin: 0 0 5px 0;
}

#profile-div p {
    margin: 0;
    line-height: 1.4;
}

#header{
    max-width: 900px;
    margin: 0 auto;
}

.mainlist {
    font-weight: bold;
}